<<<<<<< HEAD
.body{
    font-family: Helvetica, Arial, sans-serif !important;
    
}

h1{
    margin-bottom: 100px;
    text-align: center;
}

.textWidth{
    width: 190px;
=======
body{
    font-family: Helvetica, Arial, sans-serif!important;
    background:red!important;
>>>>>>> 4aa0332e3aed843260ca99818c4422dc13c4f478
}